exportPattern("^[[:alpha:]]+")
import(BiocInstaller)
import(MotifDb)
import(S4Vectors)
import(seqLogo)
import(motifStack)
import(Biostrings)
import(GenomicFeatures)
import(org.Sc.sgd.db)
import(BSgenome.Scerevisiae.UCSC.sacCer3)
import(TxDb.Scerevisiae.UCSC.sacCer3.sgdGene)