exportPattern("^[[:alpha:]]+")
import(knitcitations)
import(bibtex)
import(GenomeInfoDb)
import(S4Vectors)
import(GGtools)
import(GGdata)
import(yri1kgv)
import(snpStats)
import(scatterplot3d)
import(lumi)
import(parallel)
import(foreach)
import(doParallel)
import(biglm)
import(lumiHumanAll.db)
import(rmeta)
import(SNPlocs.Hsapiens.dbSNP144.GRCh37)
import(reshape2)
import(ggplot2)