exportPattern("^[[:alpha:]]+")
import(VariantAnnotation)
import(AnnotationHub)
import(TxDb.Hsapiens.UCSC.hg19.knownGene)
import(TxDb.Mmusculus.UCSC.mm10.ensGene)
import(org.Hs.eg.db)
import(org.Mm.eg.db)
import(BSgenome.Hsapiens.UCSC.hg19)
import(Homo.sapiens)
import(BSgenome)
import(biomaRt)
import(TxDb.Athaliana.BioMart.plantsmart22)