exportPattern("^[[:alpha:]]+")
import(knitr)
import(BiocInstaller)
import(BiocStyle)
import(RforProteomics)
import(nloptr)
import(mzR)
import(mzID)
import(MSnID)
import(MSnbase)
import(rpx)
import(MLInterfaces)
import(pRoloc)
import(pRolocdata)
import(MSGFplus)
import(rols)
import(hpar)