exportPattern("^[[:alpha:]]+")
import(BiocStyle)
import(knitr)
import(rmarkdown)
import(airway)
import(Rsamtools)
import(GenomicFeatures)
import(GenomicAlignments)
import(BiocParallel)
import(magrittr)
import(DESeq2)
import(vsn)
import(dplyr)
import(ggplot2)
import(pheatmap)
import(RColorBrewer)
import(PoiClaClu)
import(ggbeeswarm)
import(genefilter)
import(AnnotationDbi)
import(org.Hs.eg.db)
import(Gviz)
import(sva)
import(fission)