exportPattern("^[[:alpha:]]+")
import(GenomicRanges)
import(GenomicAlignments)
import(Biostrings)
import(Rsamtools)
import(ShortRead)
import(BiocParallel)
import(rtracklayer)
import(VariantAnnotation)
import(AnnotationHub)
import(BSgenome.Hsapiens.UCSC.hg19)
import(RNAseqData.HNRNPC.bam.chr14)