exportPattern("^[[:alpha:]]+")
import(BiocStyle)
import(knitr)
import(BiocParallel)
import(Rtsne)
import(mvoutlier)
import(destiny)
import(R.utils)
import(readxl)
import(scater)
import(scran)
import(org.Mm.eg.db)
import(RBGL)
import(gplots)
import(limma)
import(dynamicTreeCut)
import(edgeR)
import(TxDb.Mmusculus.UCSC.mm10.ensGene)