@import url('https://fonts.googleapis.com/css?family=Lato|Roboto+Slab');
body {
  font-family: "Lato", "Helvetica Neue", Arial, sans-serif;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

h1, h2, h3, h4, h5, h6, .btn, .nav {
  font-family: "Roboto Slab", "Georgia", Arial, sans-serif;
}

p {
  font-size: 1.0625rem;
  line-height: 1.875rem;
}

h2 {
  margin-top: 1rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */

.header, .marketing, .footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */

.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}

/* Custom page footer */

.footer {
  padding-top: 2rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */

@media (min-width: 48em) {
  .container {
    max-width: 60rem;
  }
}

.container-narrow>hr {
  margin: 2rem 0;
}

/* Main workflow styles */

.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}

.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting workflow content */

.workflow {
  margin: 3rem 0;
}

.workflow p, h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header, .workflow, .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}