exportPattern("^[[:alpha:]]+")
import(BiocStyle)
import(knitr)
import(Rsubread)
import(Rsamtools)
import(rtracklayer)
import(csaw)
import(edgeR)
import(statmod)
import(locfit)
import(org.Mm.eg.db)
import(TxDb.Mmusculus.UCSC.mm10.knownGene)
import(ChIPpeakAnno)
import(Gviz)